// markup
.syntax--markup {

  -webkit-font-smoothing: auto;
  &.syntax--bold {
    font-weight: bold;
    color: @blue;
  }
  &.syntax--italic {
    font-style: italic;
    color: @blue;
  }

  &.syntax--heading {
    color: @orange;
    &.syntax--marker {
      color: @yellow;
    }
  }

  &.syntax--link {
    color: @cyan;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--changed {
    color: @yellow;
  }

  &.syntax--inserted {
    color: @cyan;
  }

}

// markdown
.syntax--gfm {

  -webkit-font-smoothing: auto;
  .syntax--link .syntax--entity {
    color: @violet;
  }

  // show markdown double-space line breaks
  .syntax--linebreak:after {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    content: " \f0a8";
    color: @syntax-invisible-character-color;
  }

  .syntax--list {
    color: @magenta;
  }

  .syntax--raw {
    border-radius: 2px;
    color: @yellow;
    background-color: fade(@blue, 13%);
  }

  .syntax--comment.syntax--quote {
    font-style: normal;
  }

  .syntax--support {
    color: @syntax-comment-color;
    &.syntax--quote {
      color: @magenta;
    }
  }

  .syntax--strike {
    color: @blue;
    text-decoration: line-through;
  }

  .syntax--string.syntax--emoji {
    color: @green;
  }

  .syntax--punctuation {
    &.syntax--definition {
      &.syntax--begin,
      &.syntax--end {
        color: @base00;
      }
    }
  }

}

// markdown-preview
.markdown-preview:not([data-use-github-style]) {

  // Headings
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: @orange;
  }

  // Link
  a,
  a code {
    color: lighten(@blue, 5%);
  }

  // Emphasis
  strong {
    color: contrast(@syntax-text-color, lighten(@syntax-text-color, 16%), darken(@syntax-text-color, 16%));
  }

  em {
    color: contrast(@syntax-text-color, lighten(@syntax-text-color, 16%), darken(@syntax-text-color, 16%));
  }

  del {
    color: @base01;
  }


  // list
  ol,
  ul {
    color: @yellow;
    line-height: 2;
    border-top: 1em solid @syntax-background-color;
    border-right: 1em solid @syntax-background-color;
    border-bottom: 1em solid @syntax-background-color;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
  }


  // Table
  th {
    color: lighten(@syntax-text-color, 25%);
  }

  td {
    color: @yellow;
  }

  th,
  td {
    border: 2px solid transparent;
    background-color: lighten(@syntax-background-color, 2%);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.7);
  }

  // Code
  code {
    color: @yellow;
    background-color: fade(@blue, 13%);
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  }

  // KBD
  kbd {
    color: @yellow;
    background-color: fade(@blue, 13%);
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  }

  // Blockquote
  blockquote {
    border-radius: 0px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
    color: @syntax-comment-color;
  }

  // Other
  atom-text-editor {
    border-radius: 0px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  }

}
