@import "syntax-variables";

atom-text-editor {
  color: @syntax-text-color;
  background-color: @syntax-background-color;

  .line.cursor-line {
    background-color: @syntax-cursor-line;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    -webkit-font-smoothing: antialiased;

    .line-numbers {
      background-color: transparent !important;
    }
    .line-number {
      background-color: transparent;
      color: @syntax-gutter-text-color;

      &.cursor-line {
        background-color: transparent;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }

      .icon-right {
        color: @syntax-gutter-text-color;
        transition: all 400ms ease;
      }

      .icon-right:hover {
        color: @syntax-gutter-icon-color-folded;
      }
    }
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .cursor {
    border-left: 2px solid @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }


  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-gutter-icon-color-folded;
  }

  .gutter .line-number.folded {
    .icon-right {
      color: @syntax-gutter-icon-color-folded;
      transition: all 400ms ease;
    }

    .icon-right:hover {
      color: white;
    }
  }

  .bracket-matcher .region {
    border-bottom: 2px solid @syntax-bracket-macher-color;
    box-sizing: border-box;
  }

  .find-result .region.region.region,
  .current-result .region.region.region {
    background-color: @syntax-result-marker-color;
    transition: border-color .4s;
  }
  .find-result .region.region.region {
    border: 2px solid transparent;
  }
  .current-result .region.region.region {
    border: 2px solid @syntax-result-marker-color-selected;
    transition-duration: .1s;
  }

  .spell-check-misspelling .region {
    border-bottom: 1px dashed hsla(0, 100%, 60%, 0.75);
  }
}
