@import "syntax-variables";

// split-diff
atom-text-editor {
  .gutter .line-number,
  .line {
    &.split-diff-added {
      background-color: fade(@syntax-color-added, 20%) !important;
    }

    &.split-diff-removed {
      background-color: fade(@syntax-color-removed, 20%) !important;
    }

    &.split-diff-selected {
      background-color: fade(@syntax-color-modified, 20%) !important;
    }
  }

  .split-diff-word-added .region {
    background-color: fade(@syntax-color-added, 25%) !important;
  }

  .split-diff-word-removed .region {
    background-color: fade(@syntax-color-removed, 25%) !important;
  }
}
