@import "syntax-variables";

.syntax--comment {
  color: @syntax-comment-color;
  font-style: italic;
}

.syntax--string {
  color: @cyan;
}

.syntax--constant {
  color: @yellow;

  &.syntax--numeric {
    color: @violet;
  }
  &.syntax--language {
    color: @yellow;
  }
  &.syntax--other {
    color: @orange;
    &.syntax--escape {
      color: @red;
    }
  }
}

.syntax--variable {
  color: @blue;
  &.syntax--language {
    color: @magenta;
  }
}

.syntax--keyword {
  color: @green;
}

.syntax--storage {
  color: @green;
}

.syntax--entity {
  &.syntax--name {
    color: @yellow;
    &.syntax--section {
      color: @red;
    }
  }

  &.syntax--other.syntax--attribute-name {
    color: @yellow;
  }
}

.syntax--support {
  color: @green;
}

.syntax--tag {
  &.syntax--entity.syntax--name {
    color: @blue;
  }
  &.syntax--punctuation.syntax--definition {
    &.syntax--html,
    &.syntax--begin,
    &.syntax--end {
      color: @syntax-comment-color;
    }
  }
}

.syntax--invalid {
  &.syntax--deprecated {
    color: black;
    background-color: @yellow;
  }
  &.syntax--illegal {
    color: black;
    background-color: @red;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--punctuation {
  &.syntax--array,
  &.syntax--parameters,
  &.syntax--string,
  &.syntax--variable {
    &.syntax--begin, &.syntax--end {
      color: @syntax-text-color;
    }
  }
}
